<ul>
          <li id="navi_intro">
            <a href="/ontoads/">Intro</a>
          </li>
          <li id="navi_why">
            <a href="/ontoads/why.html">Why?</a>
          </li>
          <li id="navi_pages">
            <a href="/ontoads/pages.html">Blogs</a>
          </li>
          <li id="navi_blogs">
            <a href="/ontoads/blogs.html">Blogs</a>
          </li>
          <li id="navi_source">
            <a href="http://github.com/rahuldave/ontoads">Source</a>
          </li>
</ul>